body {
    background-color: lightskyblue;
}

#row1 {
    height: 100vh;
}

#heading {
    background-color: lightskyblue;
    height: 10vh;
    width: 100%;
}

#searchdiv {
    height: 15vh;
}

#adddata {
    height: 15vh;
}

input {
    height: 7vh;
}

#main-div {
    max-width: 80%;
}

table {
    border: 1px solid black;
    min-width: max-content;
    color: rgb(31, 154, 211);
    background-color: white;
}

th {
    background-color: lightskyblue;
    border: 1px solid black;
    color: black;
    position: sticky;
    top: 0px;
}

th,
td {
    padding: 10px;
}

#container {
    background-color: lightskyblue;
    max-height: 300px;
    max-width: 87%;
    overflow-x: scroll;
    margin-left: 6%;
}

.container th:nth-child(1) {
    position: sticky;
    left: 0%;
    background-color: lightskyblue;
    border: 1px solid black;
    z-index: 1;
}

.container th:nth-child(6) {
    position: sticky;
    left: 4%;
    background-color: lightskyblue;
    z-index: 1;
    border: 1px solid black;    
}

.container td:nth-child(1) {
    position: sticky;
    left: 0%;
    background-color: white;
    border: 1px solid black;
}

.container td:nth-child(6) {
    position: sticky;
    left: 4%;
    background-color: white;
    border: 1px solid black;
}

#edit {
    color: lime;
}

i {
    font-size: 20%;
    cursor: pointer;
}

#adduser {
    height: 5vh;
    margin-left: 72%;
    color: darkcyan;
}

/* Edit & Add form */
#forms {
    display: none;
}

#submitDiv {
    visibility: visible;
}

li:hover {
    background-color: lightskyblue;
}

#userdetails{
    z-index: 1;
    width: 25%;
    height: 23vh;
    margin-top: 5px;
    margin-bottom: -30%;
    margin-left: 52%;
    position: absolute;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 7px;
    background-color: palevioletred;
    display: none;  
}

.userprofile{
    width: 15%;
    margin-left: 84%;
}

img {
    width: 30%;
    position: absolute;
    margin-left: 62%;
    margin-top: -20%;
}
